body {
    background-color: #671112; 
    background-image: 
      linear-gradient(-135deg, rgba(92, 4, 5, 1) 25%, transparent 26%) ,
      linear-gradient(135deg, rgba(92, 4, 5, 1) 25%, transparent 26%),
      linear-gradient(45deg, rgba(92, 4, 5, 1) 25%, transparent 26%),
      linear-gradient(-45deg, rgba(92, 4, 5, 1) 25%, transparent 26%);
    background-size: 0.5rem 0.5rem; 
    background-repeat: repeat;
  }

.topborder{
    background: #831014;
    height: 0.5rem;
}

.maincontent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 0;
    flex-direction: column;
    background: transparent;
}
.bannercont{
    position: relative;
    height: fit-content;
}
.topbanner{
    width: 100%;
    border-bottom: 0.5rem solid #b50d0c;
    box-shadow: 0.5rem 0.5rem 8rem rgba(0, 0, 0, 0.6);
}

.carsbox {
    padding: 1rem;
    background: linear-gradient(#2c0001 50%, transparent 50%);
    transform: translateY(-2.5rem);
    width: 90%;
    max-width: 800px;
    border-top: 0.2rem solid #7a090b;
    position: relative;
}

.carsbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.2rem; 
    background: linear-gradient(to bottom, #7a090b, transparent 20%);
}

.carsbox::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0.2rem; 
    background: linear-gradient(to bottom, #7a090b, transparent 30%);
}


.carsboxtop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sortby{
    padding: 0.5rem;
    margin-right: 1rem;
    width: 25%;
    border: 0.1rem solid #580808;
    color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3rem;
    max-width: 70%;
    background: linear-gradient(to bottom, #9c0501,#e40406);
}

.order{
    background: linear-gradient(to bottom, #9c0501,#e40406);
    width: 100%;
    padding: 1rem;
    color: #fefefe;
    
}

#sortby:hover,.order:hover{
    background: linear-gradient(to top, #9c0501,#e40406);
}

#sortby #sortdir{
    height: 200%;
    fill: #fefefe;
}

.cars {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

  
.car{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}
.car::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%; 
    transform: translateY(1px);
    background: linear-gradient(to right, rgba(250,250,250,0.8) 2%, transparent 20%);
}

.car::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    transform: translate(-1px,1px);
    width: 1px; 
    background: linear-gradient(to top, rgba(250,250,250,0.8) 2%, transparent 20%);
}


.carbot{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}

.car p{
    font-size: 0.8rem;
}

.carbot p{
    color: #fefefe;
}
.cartop{
    width: 100%;
    background: linear-gradient(to bottom, #ececea 50%,#d9d8d9 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 2rem;
    padding: 0.2rem 0.5rem;
}

.cartop img{
    max-height: 100%;
}

.category{
    color: #000;
    max-height: 2lh;
    overflow: scroll;
}

.carname{
    max-height: 1lh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carprice{
    width: fit-content;
    height: 100%;
    padding: 0.2rem;
    background: linear-gradient(to bottom, #e40406,#ae1215);
}

.bottom{
    background: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-top: 0.5rem solid #831014;
}

.bottom img{
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.bottombg{
    background: #f0f0f0;
    height: 40svh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.line1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line1 div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#detail-logo{
    max-height: 3rem;
}

#detail-price{
    margin-right: 1rem;
    font-size: 1.8rem;
}


#main-details{
    display: flex;
}

#detail-desc{
    margin-bottom: 1rem;
    width: 100%;
}

#cardetails{
    display: none;
}

#cardetails *{
    color: #fefefe;
}

#left-side{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.stats{
    width: 100%;
}

.stat{
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat p{
    width: 50%;
}

.bar {
    width: 50%;
    height: 0.5rem;
    background: rgba(250,250,250,0.5);
    position: relative;
    overflow: hidden; 
}

.bar-stat {
    height: 100%;
    width: 69%;
    background: #f1f1f1;
}

.bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: repeating-linear-gradient(
        to right, 
        transparent 0%, transparent 19%, 
        #2c0001 19%, #2c0001 21%, 
        transparent 21%, transparent 39%, 
        #2c0001 39%, #2c0001 41%, 
        transparent 41%, transparent 59%, 
        #2c0001 59%, #2c0001 61%, 
        transparent 61%, transparent 79%, 
        #2c0001 79%, #2c0001 81%, 
        transparent 81%
    );
    pointer-events: none;
}



#detail-img{
    max-width: 60%;
    margin: 1rem;
    height: fit-content;
    aspect-ratio: 1/1;
}

.colors{
    width: 100%;
}

.row1col,.row2col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0;
}

.color{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.1rem solid rgba(0, 0, 0, 0);
}

.order{
    border: 0;
    border-radius: 0.2rem;
    margin: 1rem;
    width: 100%;
    padding: 1.2rem 0;
    outline: 0;
}


@media screen and (max-width: 830px){
    .car p{
        font-size: 0.65rem;
    }

    .top{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 768px){
    #cardetails p{
        font-size: 0.7rem;
    }

    #cardetails h2{
        font-size: 1.2rem;
    }

    .color{
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 600px){
    .car p{
        font-size: 0.5rem;
    }

    .car{
        margin: 0.2rem;
        max-width: 45%;
        overflow: hidden;
    }
    .top{
        font-size: 0.5rem;
    }
    #sortby{
        font-size: 0.6rem;
        width: 35%;
    }

    .carsboxtop h2{
        font-size: 1.2rem;
    }

    #cardetails p{
        font-size: 0.7rem;
    }

    #cardetails h2{
        font-size: 1rem;
    }

    .color{
        width: 1rem;
        height: 1rem;
    }
    .bar{
        height: 0.3rem;
        width: 40%;
    }
}

@media screen and (max-width: 500px){
    .stat{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .carsboxtop h2{
        font-size: 1rem;
    }

    #cardetails p{
        font-size: 0.6rem;
    }

    #cardetails h2{
        font-size: 0.9rem;
    }
    
    .bar{
        height: 0.5rem;
        width: 100%;
    }

    #left-side{
        max-width: 45%;
    }

    #detail-img{
        max-width: 55%;
    }
}

@media screen and (max-width: 400px){
    #sortby{
        font-size: 0.5rem;
        width: 40%;
    }

    .carsboxtop h2{
        font-size: 1rem;
    }
    #left-side{
        max-width: 50%;
    }

    #detail-img{
        max-width: 50%;
    }
}

@media screen and (max-width: 360px){
    #main-details{
        flex-direction: column-reverse;
    }

    #detail-img{
        max-width: 100%;
    }

    #left-side{
        max-width: 100%;
    }
    .color{
        width: 2rem;
        height: 2rem;
    }
}

@media screen and (max-width: 300px){
    .top{
        font-size: 0.3rem;
    }
    .carsboxtop h2{
        font-size: 0.8rem;
    }
    .color{
        width: 1rem;
        height: 1rem;
    }
}