main{
    background-color: #fefefe;
    height: 100%;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bottom{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    padding: 10px;
    flex: 1; 
    overflow: hidden;
    border: 0;
    outline: 0;
    background: transparent;
    text-align: left;
    cursor: pointer;
}

.subrow{
    max-height: 5rem;
}

.row:not(.endofrows){
    border-bottom: 2px solid rgba(55,55,55,0.3);
}

.row img, .row svg{
    max-height: 4rem;
}


.row h3 {
    font-size: 2rem;
    flex: 1;
    color: #000;
    margin: 0;
}

.row.focus{
    background-color: #458ad5;
}
.row.focus img, .row.focus svg{
    filter: invert(1);
}
.row.focus h3{
    color: #fefefe;
}

.scrollable{
    overflow-y: scroll !important;
}

.scrollable .row{
    padding: 3rem 0;
}

.numpad{
    cursor: pointer;
}

button.numpad svg{
    fill: #459bcc;
    scale: 0.8;
}

button.call img{
    filter: brightness(0) saturate(100%) invert(53%) sepia(94%) saturate(2806%) hue-rotate(85deg) brightness(113%) contrast(92%);
}

button.call-blue img{
    filter: brightness(0) saturate(100%) invert(63%) sepia(59%) saturate(1020%) hue-rotate(173deg) brightness(84%) contrast(88%);
}


